.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.main-header {
  position: relative;
  width: 100%;
  background: $main-gradient;
}

.main-header__background-picture {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
}

.main-header__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-header__container {
  z-index: 2;
  padding: 150px 25px 190px;

  @include vp-768 {
    padding: 180px 50px 205px;
  }

  @include vp-1280 {
    width: $vp-1280;
    margin: 0 auto;
    padding: 305px 375px 280px 125px;
  }
}

.main-header__title {
  margin: 0 0 20px 0;
  font-family: $ff-roboto-condensed;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  color: $color-light;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @include vp-768 {
    font-size: 64px;
    line-height: 75px;
  }

  @include vp-1280 {
    margin-bottom: 40px;
    font-size: 80px;
    line-height: 94px;
  }
}

.main-header__content {
  margin: 0 0 50px 0;
  font-family: $ff-pt-mono;
  font-size: 14px;
  line-height: 155%;
  color: $color-light;

  @include vp-768 {
    font-size: 22px;
  }

  @include vp-1280 {
    padding-right: 90px;
  }
}

.main-header__button {
  width: 100%;
  padding: 10px 30px;
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: $color-light;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: $color-main-blue;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include vp-768 {
    width: auto;
    margin-left: 50px;
    padding: 15px 25px;
    font-size: 18px;
    line-height: 21px;
  }

  @include vp-1280 {
    margin: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-header__button--tablet {
  @include vp-767 {
    display: none;
  }

  @include vp-768 {
    display: inline;
  }
}

.main-header__button--mobile {
  @include vp-767 {
    display: inline;
  }

  @include vp-768 {
    display: none;
  }
}
