.header {
  z-index: 10;
  margin: 0 auto;
  background: linear-gradient(180deg, $color-dark 84.9%, rgba(4, 24, 39, 0) 100%);
  position: absolute;
  left: 0;
  right: 0;

  @include vp-1280 {
    position: fixed;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px 25px 25px;

  @include vp-768 {
    padding: 20px 70px 25px 50px;
  }

  @include vp-1280 {
    max-width: 1220px;
    padding: 30px 70px 35px 0;
  }
}

.header__logo {
  width: 35px;
  height: 35px;
  margin-top: 5px;

  @include vp-768 {
    display: flex;
    align-items: center;
    gap: 15px;
    width: auto;
    height: 55px;
    margin: 0;
  }
}

.header__image {
  @include vp-768 {
    width: 55px;
    height: 55px;
  }
}

.logo__description {
  display: none;

  @include vp-768 {
    display: block;
  }
}

.logo__title {
  font-family: $ff-roboto-condensed;
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  color: $color-light;
}

.logo__subtitle {
  font-family: $ff-roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  opacity: 0.7;
  color: $color-white;
}

.header__contacts {
  display: flex;
  gap: 20px;

  @include vp-768 {
    align-self: start;
  }

  @include vp-1280 {
    justify-content: space-between;
    min-width: 480px;
  }
}

.header__user-nav {
  display: flex;
  align-items: center;
  justify-self: left;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: inherit;

  & .header__icon {
    fill: $color-main-blue;
  }

  &:hover .header__icon,
  &:focus .header__icon {
    fill: $color-white;
  }

  &:active {
    opacity: 0.5;
  }
}

.user-nav__text {
  display: none;

  @include vp-1280 {
    display: block;
    margin-left: 15px;
    font-family: $ff-pt-mono;
    font-size: 16px;
    color: $color-light;
  }
}

.header__order-button {
  display: none;

  @include vp-1280 {
    display: block;
    align-self: start;
    box-sizing: border-box;
    padding: 10px 15px 12px;
    font-family: $ff-roboto-condensed;
    font-size: 14px;
    line-height: 16px;
    color: $color-light;
    border: $color-light solid 1px;
    border-radius: 3px;
    background-color: inherit;
    cursor: pointer;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $color-main-blue;
      border-color: $color-main-blue;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.social__link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__icon:hover,
.social__icon:focus {
  opacity: 0.7;
}

.social__icon:active{
  opacity: 0.5;
}

.footer__nav {
  color: $color-white;

}
