.footer {
  background-color: $color-dark;
}

.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0 0 35px 0;

  @include vp-768 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 30px;
    align-items: start;
    justify-content: start;
    padding: 50px 50px 65px;
  }

  @include vp-1280 {
    width: $vp-1280;
    margin: 0 auto;
    grid-template-columns: 220px 160px 1fr 320px;
    grid-template-rows: 80px auto;
    padding: 55px 0;
    grid-template-areas:
      "logo . site address"
      "social . site address";
    gap: 0;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  width: auto;
  margin: 0;
  padding: 35px 0 0;

  @include vp-768 {
    padding: 0;
    align-items: start;
    justify-content: start;
  }

  @include vp-1280 {
    grid-area: logo;
  }
}

.footer-logo__image {
  width: 55px;
  height: 55px;
}

.footer__social {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 25px 0 30px;
  border-bottom: 1px solid $border-color;
  list-style-type: none;

  @include vp-768 {
    border-color: transparent;
    padding: 0;
    align-self: center;
    justify-content: flex-end;
  }

  @include vp-1280 {
    grid-area: social;
    align-self: start;
    justify-content: start;
    padding-left: 15px;
  }
}

.footer__nav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0 25px 0;
  border-bottom: 1px solid $border-color;

  @include vp-768 {
    border-color: transparent;
    padding: 0;
    max-width: 220px;

    &.footer__nav--address {
      max-width: 320px;
    }
  }

  @include vp-1280 {
    grid-area: site;

    &.footer__nav--address {
      grid-area: address;
      align-self: start;
    }
  }
}

.footer__list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 0;
  flex-wrap: wrap;
  padding: 0 0 20px 0;
  list-style-type: none;

  &.isClosed {
    display: none;

    @include vp-768 {
      display: flex;
      padding: 0;
    }
  }

  @include vp-1280 {
    max-height: 130px;
  }
}

.footer__title {
  padding: 20px 0 20px;
  font-family: $ff-roboto-condensed;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: $color-white;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include vp-768 {
    padding: 0;
    margin-bottom: 20px;
  }
}

.footer__item {
  font-family: $ff-pt-mono;
  font-size: 14px;
  line-height: 25px;
  opacity: 0.7;
  color: $color-white;

  @include vp-768 {
    font-size: 16px;
  }

  @include vp-1280 {
    line-height: 20px;
  }
}

.footer__link {
  font-family: $ff-pt-mono;
  font-size: 14px;
  line-height: 25px;
  color: $color-white;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @include vp-768 {
    font-size: 16px;
  }

  @include vp-1280 {
    line-height: 20px;
  }
}

.footer__toggle {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;

  &::after,
  &::before {
    position: absolute;
    top: 7px;
    left: 0;
    width: 15px;
    height: 1px;
    background-color: $color-white;
    content: "";
  }

  &.isClosed::before {
    transform: rotate(90deg);
  }

  &.nojs {
    display: none;
  }

  @include vp-768 {
    display: none;
  }
}
